h1 {
    color: #f0f0f0;
    background: linear-gradient(
        to Right, 
        #ff5757, 
        #ffb53f, 
        #fff100,
        #9ae900,
        #15ffe1,
        #816aff,
        #ff0040
    );
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.2em transparent;
    padding-left: 10px;
}

.dark-mode {
    background-color: #232323;
    color: #f0f0f0;
}

h1.dark-mode {
  color:#232323
}

/*
TODO
once there's a fix to make quicksand behave with the gradient for the header we can uncomment this

body{
    font-family:"Quicksand";
}
*/
